<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e9c4b4a4b3160f40231974c873c7e480 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_e9c4b4a4b3160f40231974c873c7e480" ></div>
        
</body>
<script>
    
    
            var map_e9c4b4a4b3160f40231974c873c7e480 = L.map(
                "map_e9c4b4a4b3160f40231974c873c7e480",
                {
                    center: [-37.84, 145.05],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 13,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_cb9e969dd9d8d75b7ea81ce359a4da71 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_cb9e969dd9d8d75b7ea81ce359a4da71.addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
            var circle_marker_bddc255d0ff3977a2008e036f446f1a6 = L.circleMarker(
                [-37.8657925, 145.0928475],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_7445921dc024262f079862c6d33af39f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e87595234b5781ad23491c046b96349e = $(`<div id="html_e87595234b5781ad23491c046b96349e" style="width: 100.0%; height: 100.0%;">SCATS 970.0</div>`)[0];
                popup_7445921dc024262f079862c6d33af39f.setContent(html_e87595234b5781ad23491c046b96349e);
            
        

        circle_marker_bddc255d0ff3977a2008e036f446f1a6.bindPopup(popup_7445921dc024262f079862c6d33af39f)
        ;

        
    
    
            var circle_marker_92ad17c2f94fb59cae3cc2fe6d825ecf = L.circleMarker(
                [-37.850413175, 145.095663925],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_11eaa842060694e070d51471c661a8a8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7a555045618ad2779c9128403114c495 = $(`<div id="html_7a555045618ad2779c9128403114c495" style="width: 100.0%; height: 100.0%;">SCATS 2000.0</div>`)[0];
                popup_11eaa842060694e070d51471c661a8a8.setContent(html_7a555045618ad2779c9128403114c495);
            
        

        circle_marker_92ad17c2f94fb59cae3cc2fe6d825ecf.bindPopup(popup_11eaa842060694e070d51471c661a8a8)
        ;

        
    
    
            var circle_marker_984c959a6777da68a053c97b055bc8f9 = L.circleMarker(
                [-37.815029974999995, 145.0993872],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_f0e9cf1eeb83063e7954df8208d8f7e3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_787c6e6d3dbcb403ca305d3e9c7e1d61 = $(`<div id="html_787c6e6d3dbcb403ca305d3e9c7e1d61" style="width: 100.0%; height: 100.0%;">SCATS 2200.0</div>`)[0];
                popup_f0e9cf1eeb83063e7954df8208d8f7e3.setContent(html_787c6e6d3dbcb403ca305d3e9c7e1d61);
            
        

        circle_marker_984c959a6777da68a053c97b055bc8f9.bindPopup(popup_f0e9cf1eeb83063e7954df8208d8f7e3)
        ;

        
    
    
            var circle_marker_ad05a0f5793b0867a86df7098b686187 = L.circleMarker(
                [-37.793275, 145.0318],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_2078dba5b44d7e6dc84ba9f810c7e64f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c069626834ab4e5b5a01a2bc138005e0 = $(`<div id="html_c069626834ab4e5b5a01a2bc138005e0" style="width: 100.0%; height: 100.0%;">SCATS 2820.0</div>`)[0];
                popup_2078dba5b44d7e6dc84ba9f810c7e64f.setContent(html_c069626834ab4e5b5a01a2bc138005e0);
            
        

        circle_marker_ad05a0f5793b0867a86df7098b686187.bindPopup(popup_2078dba5b44d7e6dc84ba9f810c7e64f)
        ;

        
    
    
            var circle_marker_a15f7739730ff793508c2c55fec50ca2 = L.circleMarker(
                [-37.7851, 145.06336],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_3795dfc70b5ca843cfda9b69c6a25bd3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b26fcef3ad1f4d9f54bb0a895d2b0ec4 = $(`<div id="html_b26fcef3ad1f4d9f54bb0a895d2b0ec4" style="width: 100.0%; height: 100.0%;">SCATS 2825.0</div>`)[0];
                popup_3795dfc70b5ca843cfda9b69c6a25bd3.setContent(html_b26fcef3ad1f4d9f54bb0a895d2b0ec4);
            
        

        circle_marker_a15f7739730ff793508c2c55fec50ca2.bindPopup(popup_3795dfc70b5ca843cfda9b69c6a25bd3)
        ;

        
    
    
            var circle_marker_437a32e51b645191dc6b9ee1f637111f = L.circleMarker(
                [-37.78022932499999, 145.0786714],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_30f7ab747782fd144697f1d2c6c920d8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_657df0e6e7ad9b1b06e0d563d4248f27 = $(`<div id="html_657df0e6e7ad9b1b06e0d563d4248f27" style="width: 100.0%; height: 100.0%;">SCATS 2827.0</div>`)[0];
                popup_30f7ab747782fd144697f1d2c6c920d8.setContent(html_657df0e6e7ad9b1b06e0d563d4248f27);
            
        

        circle_marker_437a32e51b645191dc6b9ee1f637111f.bindPopup(popup_30f7ab747782fd144697f1d2c6c920d8)
        ;

        
    
    
            var circle_marker_6d1b5c098d22e62a6b0d3a24faaff1a3 = L.circleMarker(
                [-37.859794275, 145.05921450000005],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_5254ee56f5ca75962133002cfdbd2ffa = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9987322b48859949e2fbed94a63fce65 = $(`<div id="html_9987322b48859949e2fbed94a63fce65" style="width: 100.0%; height: 100.0%;">SCATS 2846.0</div>`)[0];
                popup_5254ee56f5ca75962133002cfdbd2ffa.setContent(html_9987322b48859949e2fbed94a63fce65);
            
        

        circle_marker_6d1b5c098d22e62a6b0d3a24faaff1a3.bindPopup(popup_5254ee56f5ca75962133002cfdbd2ffa)
        ;

        
    
    
            var circle_marker_348c4c2a964361918fd4e33fd55c5ab3 = L.circleMarker(
                [-37.813145, 145.0234775],
                {"bubblingMouseEvents": true, "color": "darkblue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_43b60066aff1a09534bac1baa9b46cca = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_58090f50eb9aa43a9cd9e2941f2e2f51 = $(`<div id="html_58090f50eb9aa43a9cd9e2941f2e2f51" style="width: 100.0%; height: 100.0%;">SCATS 3001.0</div>`)[0];
                popup_43b60066aff1a09534bac1baa9b46cca.setContent(html_58090f50eb9aa43a9cd9e2941f2e2f51);
            
        

        circle_marker_348c4c2a964361918fd4e33fd55c5ab3.bindPopup(popup_43b60066aff1a09534bac1baa9b46cca)
        ;

        
    
    
            var circle_marker_4f8eb7e26629679720a657a573179f0f = L.circleMarker(
                [-37.813652499999996, 145.02791249999999],
                {"bubblingMouseEvents": true, "color": "darkblue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_816e675bc1381fdb731f28ebcefb5598 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7e3cdd1154e6b4424f691726c02b2365 = $(`<div id="html_7e3cdd1154e6b4424f691726c02b2365" style="width: 100.0%; height: 100.0%;">SCATS 3002.0</div>`)[0];
                popup_816e675bc1381fdb731f28ebcefb5598.setContent(html_7e3cdd1154e6b4424f691726c02b2365);
            
        

        circle_marker_4f8eb7e26629679720a657a573179f0f.bindPopup(popup_816e675bc1381fdb731f28ebcefb5598)
        ;

        
    
    
            var circle_marker_573cc9fd8f948030f4cef89853391368 = L.circleMarker(
                [-37.821385, 145.0586275],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_da95f4405a601d39a8762ced0a318fd0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0088d51f9c416f673236e08d2d8015cb = $(`<div id="html_0088d51f9c416f673236e08d2d8015cb" style="width: 100.0%; height: 100.0%;">SCATS 3120.0</div>`)[0];
                popup_da95f4405a601d39a8762ced0a318fd0.setContent(html_0088d51f9c416f673236e08d2d8015cb);
            
        

        circle_marker_573cc9fd8f948030f4cef89853391368.bindPopup(popup_da95f4405a601d39a8762ced0a318fd0)
        ;

        
    
    
            var circle_marker_90e4c7ff57b83aff973f5ff52a828623 = L.circleMarker(
                [-37.82234666666666, 145.06573333333333],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_7e2c1452ffd2b7f7ef562808ae6a2419 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_879802e9c4aba76ce7f186c1d03ade55 = $(`<div id="html_879802e9c4aba76ce7f186c1d03ade55" style="width: 100.0%; height: 100.0%;">SCATS 3122.0</div>`)[0];
                popup_7e2c1452ffd2b7f7ef562808ae6a2419.setContent(html_879802e9c4aba76ce7f186c1d03ade55);
            
        

        circle_marker_90e4c7ff57b83aff973f5ff52a828623.bindPopup(popup_7e2c1452ffd2b7f7ef562808ae6a2419)
        ;

        
    
    
            var circle_marker_5f794e970b382218f450d1a97627be00 = L.circleMarker(
                [-37.82633666666666, 145.09991666666667],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_37aaa5a0e3cfdf50cfc442c0fc09bdfa = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_14c95ca258948527a16b73653b56e850 = $(`<div id="html_14c95ca258948527a16b73653b56e850" style="width: 100.0%; height: 100.0%;">SCATS 3126.0</div>`)[0];
                popup_37aaa5a0e3cfdf50cfc442c0fc09bdfa.setContent(html_14c95ca258948527a16b73653b56e850);
            
        

        circle_marker_5f794e970b382218f450d1a97627be00.bindPopup(popup_37aaa5a0e3cfdf50cfc442c0fc09bdfa)
        ;

        
    
    
            var circle_marker_07184396a46c3f8ad2aca13b5e4f3d50 = L.circleMarker(
                [-37.82371666666667, 145.07928666666666],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_2f1c3f0a143735b696a9eb92c1c23343 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2d016c37425cc4fe00c53c5118f0f005 = $(`<div id="html_2d016c37425cc4fe00c53c5118f0f005" style="width: 100.0%; height: 100.0%;">SCATS 3127.0</div>`)[0];
                popup_2f1c3f0a143735b696a9eb92c1c23343.setContent(html_2d016c37425cc4fe00c53c5118f0f005);
            
        

        circle_marker_07184396a46c3f8ad2aca13b5e4f3d50.bindPopup(popup_2f1c3f0a143735b696a9eb92c1c23343)
        ;

        
    
    
            var circle_marker_6cae91893c9e2c4b8e16bad19518f5e1 = L.circleMarker(
                [-37.79470333333333, 145.08484666666666],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_4e92e53fec609427d749dd0e83dd70c6 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_8ae98ad5dca5598c5699b1beedbb1ecd = $(`<div id="html_8ae98ad5dca5598c5699b1beedbb1ecd" style="width: 100.0%; height: 100.0%;">SCATS 3180.0</div>`)[0];
                popup_4e92e53fec609427d749dd0e83dd70c6.setContent(html_8ae98ad5dca5598c5699b1beedbb1ecd);
            
        

        circle_marker_6cae91893c9e2c4b8e16bad19518f5e1.bindPopup(popup_4e92e53fec609427d749dd0e83dd70c6)
        ;

        
    
    
            var circle_marker_a7ee930d64fadae23cd7bcbc550a76aa = L.circleMarker(
                [-37.80744249999999, 145.0287975],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_26f37af7c31cf4d4fc957c2c11421656 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f5d4f235f458960532b3d5558c01cf2d = $(`<div id="html_f5d4f235f458960532b3d5558c01cf2d" style="width: 100.0%; height: 100.0%;">SCATS 3662.0</div>`)[0];
                popup_26f37af7c31cf4d4fc957c2c11421656.setContent(html_f5d4f235f458960532b3d5558c01cf2d);
            
        

        circle_marker_a7ee930d64fadae23cd7bcbc550a76aa.bindPopup(popup_26f37af7c31cf4d4fc957c2c11421656)
        ;

        
    
    
            var circle_marker_025ce329ebef1056c9f3724236a06587 = L.circleMarker(
                [-37.835964999999995, 145.0982075],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_d83f08c581cc87d4096c998e3f2c380c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_49781a6384e747f98a883300b6d5471f = $(`<div id="html_49781a6384e747f98a883300b6d5471f" style="width: 100.0%; height: 100.0%;">SCATS 3682.0</div>`)[0];
                popup_d83f08c581cc87d4096c998e3f2c380c.setContent(html_49781a6384e747f98a883300b6d5471f);
            
        

        circle_marker_025ce329ebef1056c9f3724236a06587.bindPopup(popup_d83f08c581cc87d4096c998e3f2c380c)
        ;

        
    
    
            var circle_marker_7143aafb54ca2bbf15e95e228a0767f1 = L.circleMarker(
                [-37.853386666666665, 145.09525000000002],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_2b129ad1d5cd7d681cee2c1969640e71 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_bdd87001067dd4eeed031978a65b4c29 = $(`<div id="html_bdd87001067dd4eeed031978a65b4c29" style="width: 100.0%; height: 100.0%;">SCATS 3685.0</div>`)[0];
                popup_2b129ad1d5cd7d681cee2c1969640e71.setContent(html_bdd87001067dd4eeed031978a65b4c29);
            
        

        circle_marker_7143aafb54ca2bbf15e95e228a0767f1.bindPopup(popup_2b129ad1d5cd7d681cee2c1969640e71)
        ;

        
    
    
            var circle_marker_24bcfa2b5e8d11d44b33c03588ab1b0b = L.circleMarker(
                [-37.8321325, 145.0637325],
                {"bubblingMouseEvents": true, "color": "darkblue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_1a5b46654135106971c7a3456649ce37 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_93271eb8e7af918d1e9c22f8402943e4 = $(`<div id="html_93271eb8e7af918d1e9c22f8402943e4" style="width: 100.0%; height: 100.0%;">SCATS 3804.0</div>`)[0];
                popup_1a5b46654135106971c7a3456649ce37.setContent(html_93271eb8e7af918d1e9c22f8402943e4);
            
        

        circle_marker_24bcfa2b5e8d11d44b33c03588ab1b0b.bindPopup(popup_1a5b46654135106971c7a3456649ce37)
        ;

        
    
    
            var circle_marker_ed80180853022975f2ab890beb602e19 = L.circleMarker(
                [-37.83598, 145.062205],
                {"bubblingMouseEvents": true, "color": "darkblue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_56e71eb2504c2cc49f0b5cf5c9f899fe = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9a1a4313132a9547bd493f9917805157 = $(`<div id="html_9a1a4313132a9547bd493f9917805157" style="width: 100.0%; height: 100.0%;">SCATS 3812.0</div>`)[0];
                popup_56e71eb2504c2cc49f0b5cf5c9f899fe.setContent(html_9a1a4313132a9547bd493f9917805157);
            
        

        circle_marker_ed80180853022975f2ab890beb602e19.bindPopup(popup_56e71eb2504c2cc49f0b5cf5c9f899fe)
        ;

        
    
    
            var circle_marker_3ed2f3010472f5387e977b13ddadcb68 = L.circleMarker(
                [-37.79382, 145.06294666666668],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_9b48ca38478a6ff93fb03aca85a53d35 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b367ef4f6a6b3ba1c8cba7c92b775fc3 = $(`<div id="html_b367ef4f6a6b3ba1c8cba7c92b775fc3" style="width: 100.0%; height: 100.0%;">SCATS 4030.0</div>`)[0];
                popup_9b48ca38478a6ff93fb03aca85a53d35.setContent(html_b367ef4f6a6b3ba1c8cba7c92b775fc3);
            
        

        circle_marker_3ed2f3010472f5387e977b13ddadcb68.bindPopup(popup_9b48ca38478a6ff93fb03aca85a53d35)
        ;

        
    
    
            var circle_marker_46df11ed4634f8df04891f41482c0129 = L.circleMarker(
                [-37.8007875, 145.06257],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_32d756718ca7fbde5ffb3be7376f23cc = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c65c6a970a7755e5a2848721de8266bb = $(`<div id="html_c65c6a970a7755e5a2848721de8266bb" style="width: 100.0%; height: 100.0%;">SCATS 4032.0</div>`)[0];
                popup_32d756718ca7fbde5ffb3be7376f23cc.setContent(html_c65c6a970a7755e5a2848721de8266bb);
            
        

        circle_marker_46df11ed4634f8df04891f41482c0129.bindPopup(popup_32d756718ca7fbde5ffb3be7376f23cc)
        ;

        
    
    
            var circle_marker_55a8c6cf32c7f4dded0bf2a71784b508 = L.circleMarker(
                [-37.81034, 145.060745],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_300eed888a5cf35ac90c1a1b30b6dddf = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2a53862ad5f539ad5544aadc8cc73aba = $(`<div id="html_2a53862ad5f539ad5544aadc8cc73aba" style="width: 100.0%; height: 100.0%;">SCATS 4034.0</div>`)[0];
                popup_300eed888a5cf35ac90c1a1b30b6dddf.setContent(html_2a53862ad5f539ad5544aadc8cc73aba);
            
        

        circle_marker_55a8c6cf32c7f4dded0bf2a71784b508.bindPopup(popup_300eed888a5cf35ac90c1a1b30b6dddf)
        ;

        
    
    
            var circle_marker_97ed1805cc7070ac1c04d82388e03c55 = L.circleMarker(
                [-37.81664634999999, 145.059462575],
                {"bubblingMouseEvents": true, "color": "darkblue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_e13499b4ddf210bfe1b24f2d4c6a2f51 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_26a8ae626d7ddf126c364360a3574d74 = $(`<div id="html_26a8ae626d7ddf126c364360a3574d74" style="width: 100.0%; height: 100.0%;">SCATS 4035.0</div>`)[0];
                popup_e13499b4ddf210bfe1b24f2d4c6a2f51.setContent(html_26a8ae626d7ddf126c364360a3574d74);
            
        

        circle_marker_97ed1805cc7070ac1c04d82388e03c55.bindPopup(popup_e13499b4ddf210bfe1b24f2d4c6a2f51)
        ;

        
    
    
            var circle_marker_e6bd49fedc8903113a391c49924cb281 = L.circleMarker(
                [-37.831361666666666, 145.05676333333332],
                {"bubblingMouseEvents": true, "color": "darkblue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_050f702cea2b2387c82fb4d0166d2c80 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6fd189ce0b5b9c3e76e448d5f9454d3a = $(`<div id="html_6fd189ce0b5b9c3e76e448d5f9454d3a" style="width: 100.0%; height: 100.0%;">SCATS 4040.0</div>`)[0];
                popup_050f702cea2b2387c82fb4d0166d2c80.setContent(html_6fd189ce0b5b9c3e76e448d5f9454d3a);
            
        

        circle_marker_e6bd49fedc8903113a391c49924cb281.bindPopup(popup_050f702cea2b2387c82fb4d0166d2c80)
        ;

        
    
    
            var circle_marker_1dbfe125af231db6c2c59e7bea3344b1 = L.circleMarker(
                [-37.84565, 145.0539675],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_5de3cd12e7938d2361db32c6ac4c77eb = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6d02cfff44adb1f5857d5c88b2b150d5 = $(`<div id="html_6d02cfff44adb1f5857d5c88b2b150d5" style="width: 100.0%; height: 100.0%;">SCATS 4043.0</div>`)[0];
                popup_5de3cd12e7938d2361db32c6ac4c77eb.setContent(html_6d02cfff44adb1f5857d5c88b2b150d5);
            
        

        circle_marker_1dbfe125af231db6c2c59e7bea3344b1.bindPopup(popup_5de3cd12e7938d2361db32c6ac4c77eb)
        ;

        
    
    
            var circle_marker_013eb9b1eb9f313795ec642c1978ed35 = L.circleMarker(
                [-37.79263333333333, 145.07067333333333],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_f98620983e48eb349cb5adb8779f1f23 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d58f3751e681298273c487752441bafe = $(`<div id="html_d58f3751e681298273c487752441bafe" style="width: 100.0%; height: 100.0%;">SCATS 4051.0</div>`)[0];
                popup_f98620983e48eb349cb5adb8779f1f23.setContent(html_d58f3751e681298273c487752441bafe);
            
        

        circle_marker_013eb9b1eb9f313795ec642c1978ed35.bindPopup(popup_f98620983e48eb349cb5adb8779f1f23)
        ;

        
    
    
            var circle_marker_b3fcf1acc5cbdfee17f8a9357d326d58 = L.circleMarker(
                [-37.803464999999996, 145.083105],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_1ad8161ce72736e0a8915fd35c954f2c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_254ab85106aaf25ee07d8989daf3a7a8 = $(`<div id="html_254ab85106aaf25ee07d8989daf3a7a8" style="width: 100.0%; height: 100.0%;">SCATS 4057.0</div>`)[0];
                popup_1ad8161ce72736e0a8915fd35c954f2c.setContent(html_254ab85106aaf25ee07d8989daf3a7a8);
            
        

        circle_marker_b3fcf1acc5cbdfee17f8a9357d326d58.bindPopup(popup_1ad8161ce72736e0a8915fd35c954f2c)
        ;

        
    
    
            var circle_marker_9440f5f08403dedd5133ee8eb6f59d3d = L.circleMarker(
                [-37.812862499999994, 145.081345],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_0fa72b02882057164c9cf2051b1ac6b9 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_25d55f48540bd049a7446025662ee4e7 = $(`<div id="html_25d55f48540bd049a7446025662ee4e7" style="width: 100.0%; height: 100.0%;">SCATS 4063.0</div>`)[0];
                popup_0fa72b02882057164c9cf2051b1ac6b9.setContent(html_25d55f48540bd049a7446025662ee4e7);
            
        

        circle_marker_9440f5f08403dedd5133ee8eb6f59d3d.bindPopup(popup_0fa72b02882057164c9cf2051b1ac6b9)
        ;

        
    
    
            var circle_marker_e184f702eb67c5c1deeac0e30052678f = L.circleMarker(
                [-37.82004, 145.01637],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_17dafaaa9a6b661f73b14961438b3e28 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_82e003ce9102baef9bbd647884416c50 = $(`<div id="html_82e003ce9102baef9bbd647884416c50" style="width: 100.0%; height: 100.0%;">SCATS 4262.0</div>`)[0];
                popup_17dafaaa9a6b661f73b14961438b3e28.setContent(html_82e003ce9102baef9bbd647884416c50);
            
        

        circle_marker_e184f702eb67c5c1deeac0e30052678f.bindPopup(popup_17dafaaa9a6b661f73b14961438b3e28)
        ;

        
    
    
            var circle_marker_d45f68a4d29ac0223f46f36c9e03de9d = L.circleMarker(
                [-37.821546174999995, 145.026298],
                {"bubblingMouseEvents": true, "color": "darkblue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_bf40be168f9d7473588e72e4bf25ab73 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3d6858caef6bd0a5174b8857d0520651 = $(`<div id="html_3d6858caef6bd0a5174b8857d0520651" style="width: 100.0%; height: 100.0%;">SCATS 4263.0</div>`)[0];
                popup_bf40be168f9d7473588e72e4bf25ab73.setContent(html_3d6858caef6bd0a5174b8857d0520651);
            
        

        circle_marker_d45f68a4d29ac0223f46f36c9e03de9d.bindPopup(popup_bf40be168f9d7473588e72e4bf25ab73)
        ;

        
    
    
            var circle_marker_021dce23d58daf90d17978c2ade90a85 = L.circleMarker(
                [-37.8226175, 145.03534499999998],
                {"bubblingMouseEvents": true, "color": "darkblue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_028eda59a3987a6afcd5745f44f22c8a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3e5f3cc40af250db32465b17210bd7ee = $(`<div id="html_3e5f3cc40af250db32465b17210bd7ee" style="width: 100.0%; height: 100.0%;">SCATS 4264.0</div>`)[0];
                popup_028eda59a3987a6afcd5745f44f22c8a.setContent(html_3e5f3cc40af250db32465b17210bd7ee);
            
        

        circle_marker_021dce23d58daf90d17978c2ade90a85.bindPopup(popup_028eda59a3987a6afcd5745f44f22c8a)
        ;

        
    
    
            var circle_marker_9f3bcb2bb96f712022bec0bdee32c9f6 = L.circleMarker(
                [-37.82227466446019, 145.04610883306256],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_a2247c05dfb4de652fd72bdaed290f46 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5996cd3ca1adbec8a2b4b8808285a031 = $(`<div id="html_5996cd3ca1adbec8a2b4b8808285a031" style="width: 100.0%; height: 100.0%;">SCATS 4266.0</div>`)[0];
                popup_a2247c05dfb4de652fd72bdaed290f46.setContent(html_5996cd3ca1adbec8a2b4b8808285a031);
            
        

        circle_marker_9f3bcb2bb96f712022bec0bdee32c9f6.bindPopup(popup_a2247c05dfb4de652fd72bdaed290f46)
        ;

        
    
    
            var circle_marker_ccacbd071222526a74f3ce2dfbf5d570 = L.circleMarker(
                [-37.828717499999996, 145.034155],
                {"bubblingMouseEvents": true, "color": "darkblue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_bbdac0084fb0257aa352cc37ffd3cad9 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f9fa7e1dfaebd9ff2d9697d2f3ec7d7d = $(`<div id="html_f9fa7e1dfaebd9ff2d9697d2f3ec7d7d" style="width: 100.0%; height: 100.0%;">SCATS 4270.0</div>`)[0];
                popup_bbdac0084fb0257aa352cc37ffd3cad9.setContent(html_f9fa7e1dfaebd9ff2d9697d2f3ec7d7d);
            
        

        circle_marker_ccacbd071222526a74f3ce2dfbf5d570.bindPopup(popup_bbdac0084fb0257aa352cc37ffd3cad9)
        ;

        
    
    
            var circle_marker_abed7d325ba923476d8612c9dd0d3b02 = L.circleMarker(
                [-37.83037333333333, 145.04773333333333],
                {"bubblingMouseEvents": true, "color": "darkblue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_8451ee9d5bf3c1e5124062752ea7db55 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_867be03909d85d5d10747d170ff90dee = $(`<div id="html_867be03909d85d5d10747d170ff90dee" style="width: 100.0%; height: 100.0%;">SCATS 4272.0</div>`)[0];
                popup_8451ee9d5bf3c1e5124062752ea7db55.setContent(html_867be03909d85d5d10747d170ff90dee);
            
        

        circle_marker_abed7d325ba923476d8612c9dd0d3b02.bindPopup(popup_8451ee9d5bf3c1e5124062752ea7db55)
        ;

        
    
    
            var circle_marker_888be4a1f3c75b7042e9e12782db58ea = L.circleMarker(
                [-37.845079999999996, 145.04577],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_9b9fe26b740ef84ce98e638599dd9acd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1b628fe5559e7694a17daa6be021bed3 = $(`<div id="html_1b628fe5559e7694a17daa6be021bed3" style="width: 100.0%; height: 100.0%;">SCATS 4273.0</div>`)[0];
                popup_9b9fe26b740ef84ce98e638599dd9acd.setContent(html_1b628fe5559e7694a17daa6be021bed3);
            
        

        circle_marker_888be4a1f3c75b7042e9e12782db58ea.bindPopup(popup_9b9fe26b740ef84ce98e638599dd9acd)
        ;

        
    
    
            var circle_marker_6339ab088992c316fa8a260d4173905f = L.circleMarker(
                [-37.799327925, 145.050459025],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_d20cd29ec03a15b1616bc92d2f579ab0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ebc1a9d113394db818275a75ef189609 = $(`<div id="html_ebc1a9d113394db818275a75ef189609" style="width: 100.0%; height: 100.0%;">SCATS 4321.0</div>`)[0];
                popup_d20cd29ec03a15b1616bc92d2f579ab0.setContent(html_ebc1a9d113394db818275a75ef189609);
            
        

        circle_marker_6339ab088992c316fa8a260d4173905f.bindPopup(popup_d20cd29ec03a15b1616bc92d2f579ab0)
        ;

        
    
    
            var circle_marker_327c6671c48bf51eba00e92fea34ac27 = L.circleMarker(
                [-37.807822333333334, 145.03818766666666],
                {"bubblingMouseEvents": true, "color": "darkblue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_b7eb300534edbe6ec1c28bbf459cc4cd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_90a03481f0858d6bf669c9c4deef47b0 = $(`<div id="html_90a03481f0858d6bf669c9c4deef47b0" style="width: 100.0%; height: 100.0%;">SCATS 4324.0</div>`)[0];
                popup_b7eb300534edbe6ec1c28bbf459cc4cd.setContent(html_90a03481f0858d6bf669c9c4deef47b0);
            
        

        circle_marker_327c6671c48bf51eba00e92fea34ac27.bindPopup(popup_b7eb300534edbe6ec1c28bbf459cc4cd)
        ;

        
    
    
            var circle_marker_aa339c67c7fd0305db8ab255e7d06854 = L.circleMarker(
                [-37.804705, 145.03659000000002],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_cedc119e68dec5a07bc1fc53bdb0f09d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1200f69f37756dc7d9f7543924494794 = $(`<div id="html_1200f69f37756dc7d9f7543924494794" style="width: 100.0%; height: 100.0%;">SCATS 4335.0</div>`)[0];
                popup_cedc119e68dec5a07bc1fc53bdb0f09d.setContent(html_1200f69f37756dc7d9f7543924494794);
            
        

        circle_marker_aa339c67c7fd0305db8ab255e7d06854.bindPopup(popup_cedc119e68dec5a07bc1fc53bdb0f09d)
        ;

        
    
    
            var circle_marker_acef3694d74473891894e70fdd77f671 = L.circleMarker(
                [-37.82740333333333, 145.01692666666665],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_00132c8fa97d62f2d4b0caf9d3a648ec = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1a3d38880e6a9b073aacfde359fc1439 = $(`<div id="html_1a3d38880e6a9b073aacfde359fc1439" style="width: 100.0%; height: 100.0%;">SCATS 4812.0</div>`)[0];
                popup_00132c8fa97d62f2d4b0caf9d3a648ec.setContent(html_1a3d38880e6a9b073aacfde359fc1439);
            
        

        circle_marker_acef3694d74473891894e70fdd77f671.bindPopup(popup_00132c8fa97d62f2d4b0caf9d3a648ec)
        ;

        
    
    
            var circle_marker_6cd3e75fe8c97ff9d5dd1e8b4f9be2df = L.circleMarker(
                [-37.811454999999995, 145.00981],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_be47974e898b521b693723f59fb26b9d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_576becbb5c553cf0483fa724f0314fc7 = $(`<div id="html_576becbb5c553cf0483fa724f0314fc7" style="width: 100.0%; height: 100.0%;">SCATS 4821.0</div>`)[0];
                popup_be47974e898b521b693723f59fb26b9d.setContent(html_576becbb5c553cf0483fa724f0314fc7);
            
        

        circle_marker_6cd3e75fe8c97ff9d5dd1e8b4f9be2df.bindPopup(popup_be47974e898b521b693723f59fb26b9d)
        ;

        
    
    
            var poly_line_96f9e4e3f251bc5cbfb20a9f666a52e3 = L.polyline(
                [[-37.813652499999996, 145.02791249999999], [-37.821546174999995, 145.026298], [-37.8226175, 145.03534499999998], [-37.807822333333334, 145.03818766666666]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 7}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_0fdf128f134d52d2579eb04227fff501 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b6e164e682988f796ae150abe218f10e = $(`<div id="html_b6e164e682988f796ae150abe218f10e" style="width: 100.0%; height: 100.0%;">Route 1 - 4 min 51 sec (291.91 sec)</div>`)[0];
                popup_0fdf128f134d52d2579eb04227fff501.setContent(html_b6e164e682988f796ae150abe218f10e);
            
        

        poly_line_96f9e4e3f251bc5cbfb20a9f666a52e3.bindPopup(popup_0fdf128f134d52d2579eb04227fff501)
        ;

        
    
    
            var marker_6154210802eb33652042b046e8414ce1 = L.marker(
                [-37.8226175, 145.03534499999998],
                {
}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
            var div_icon_3dc6c1ad65b809d3f1edaac5b447cfd5 = L.divIcon({
  "html": "\n                    \u003cdiv style=\"font-size: 10px; font-weight: bold; color: darkred;\n                              background-color: white; border: 1px solid darkred; \n                              padding: 2px; border-radius: 6px;\"\u003e\n                         Fastest of Route\u003cbr\u003e4 min 51 sec\n                    \u003c/div\u003e\n                ",
  "iconSize": [56, 36],
  "iconAnchor": [0, 0],
  "className": "empty",
});
        
    
                marker_6154210802eb33652042b046e8414ce1.setIcon(div_icon_3dc6c1ad65b809d3f1edaac5b447cfd5);
            
    
            var poly_line_365ffed62b46da17562d2cf7e8af560a = L.polyline(
                [[-37.813627499999996, 145.02793749999998], [-37.81312, 145.0235025], [-37.81662134999999, 145.059487575], [-37.831336666666665, 145.05678833333332], [-37.828692499999995, 145.03418], [-37.80779733333333, 145.03821266666665]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_cb087641cd8e981f3fe3b018cd2d4b2d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5f07fc77f18de81c0f488868b8b8e7a6 = $(`<div id="html_5f07fc77f18de81c0f488868b8b8e7a6" style="width: 100.0%; height: 100.0%;">Route 2 - 12 min 5 sec (725.36 sec)</div>`)[0];
                popup_cb087641cd8e981f3fe3b018cd2d4b2d.setContent(html_5f07fc77f18de81c0f488868b8b8e7a6);
            
        

        poly_line_365ffed62b46da17562d2cf7e8af560a.bindPopup(popup_cb087641cd8e981f3fe3b018cd2d4b2d)
        ;

        
    
    
            var poly_line_ca8bd4d915659012bef775defe16fbf9 = L.polyline(
                [[-37.813602499999995, 145.02796249999997], [-37.82149617499999, 145.02634799999998], [-37.813602499999995, 145.02796249999997], [-37.813095, 145.0235275], [-37.81659634999999, 145.05951257499999], [-37.831311666666664, 145.0568133333333], [-37.828667499999995, 145.034205], [-37.80777233333333, 145.03823766666665]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_76424bea84cbdb2b4a0aa8ce0821b2e0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a9349d4f244a16ceb7c9848200d86552 = $(`<div id="html_a9349d4f244a16ceb7c9848200d86552" style="width: 100.0%; height: 100.0%;">Route 3 - 14 min 52 sec (892.17 sec)</div>`)[0];
                popup_76424bea84cbdb2b4a0aa8ce0821b2e0.setContent(html_a9349d4f244a16ceb7c9848200d86552);
            
        

        poly_line_ca8bd4d915659012bef775defe16fbf9.bindPopup(popup_76424bea84cbdb2b4a0aa8ce0821b2e0)
        ;

        
    
    
            var poly_line_ce430c71adc9f2eaab8e07378453e023 = L.polyline(
                [[-37.813577499999994, 145.0279875], [-37.82147117499999, 145.026373], [-37.813577499999994, 145.0279875], [-37.82147117499999, 145.026373], [-37.8225425, 145.03542], [-37.80774733333333, 145.03826266666667]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_36395b9219806ebc585829800c2726c2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_99c054120053dded8977bb4ff94fc5e9 = $(`<div id="html_99c054120053dded8977bb4ff94fc5e9" style="width: 100.0%; height: 100.0%;">Route 4 - 7 min 38 sec (458.72 sec)</div>`)[0];
                popup_36395b9219806ebc585829800c2726c2.setContent(html_99c054120053dded8977bb4ff94fc5e9);
            
        

        poly_line_ce430c71adc9f2eaab8e07378453e023.bindPopup(popup_36395b9219806ebc585829800c2726c2)
        ;

        
    
    
            var poly_line_f67f2f9f84566bed4efaa5eed7a7d45b = L.polyline(
                [[-37.81355249999999, 145.0280125], [-37.813044999999995, 145.02357750000002], [-37.81654634999999, 145.059562575], [-37.83126166666666, 145.05686333333333], [-37.835879999999996, 145.062305], [-37.8320325, 145.0638325], [-37.830273333333324, 145.04783333333333], [-37.82861749999999, 145.034255], [-37.80772233333333, 145.03828766666666]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
        var popup_2ebb2aa932ffd3dbccee179c569dd03c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_044bc417068821eae3dd744aae0d734f = $(`<div id="html_044bc417068821eae3dd744aae0d734f" style="width: 100.0%; height: 100.0%;">Route 5 - 15 min 21 sec (921.44 sec)</div>`)[0];
                popup_2ebb2aa932ffd3dbccee179c569dd03c.setContent(html_044bc417068821eae3dd744aae0d734f);
            
        

        poly_line_f67f2f9f84566bed4efaa5eed7a7d45b.bindPopup(popup_2ebb2aa932ffd3dbccee179c569dd03c)
        ;

        
    
    
            var marker_3aa26902dda55145f30850026efa4d7c = L.marker(
                [-37.813652499999996, 145.02791249999999],
                {
}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
            var icon_a07714198bfda890352e9c772adbbac3 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "play",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_125c10d4e0e84a2faf80e57a1630bcf6 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_073d69684c2bae98b76e5d8942bd3560 = $(`<div id="html_073d69684c2bae98b76e5d8942bd3560" style="width: 100.0%; height: 100.0%;">Origin</div>`)[0];
                popup_125c10d4e0e84a2faf80e57a1630bcf6.setContent(html_073d69684c2bae98b76e5d8942bd3560);
            
        

        marker_3aa26902dda55145f30850026efa4d7c.bindPopup(popup_125c10d4e0e84a2faf80e57a1630bcf6)
        ;

        
    
    
                marker_3aa26902dda55145f30850026efa4d7c.setIcon(icon_a07714198bfda890352e9c772adbbac3);
            
    
            var marker_c40322770223d926948a8af8f1266b93 = L.marker(
                [-37.807822333333334, 145.03818766666666],
                {
}
            ).addTo(map_e9c4b4a4b3160f40231974c873c7e480);
        
    
            var icon_83b0c961669aa21b73b2e36c091452bb = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "stop",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_0de4ebc62bf1b3e74bf28a30c166c253 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f07f6f18b923d412b391259b977649de = $(`<div id="html_f07f6f18b923d412b391259b977649de" style="width: 100.0%; height: 100.0%;">Destination</div>`)[0];
                popup_0de4ebc62bf1b3e74bf28a30c166c253.setContent(html_f07f6f18b923d412b391259b977649de);
            
        

        marker_c40322770223d926948a8af8f1266b93.bindPopup(popup_0de4ebc62bf1b3e74bf28a30c166c253)
        ;

        
    
    
                marker_c40322770223d926948a8af8f1266b93.setIcon(icon_83b0c961669aa21b73b2e36c091452bb);
            
</script>
</html>