<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b355efbd9e9a9007038dd7670486933c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_b355efbd9e9a9007038dd7670486933c" ></div>
        
</body>
<script>
    
    
            var map_b355efbd9e9a9007038dd7670486933c = L.map(
                "map_b355efbd9e9a9007038dd7670486933c",
                {
                    center: [-37.84, 145.05],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 13,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_ac1ae7954a45f588a5283249558149b8 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_ac1ae7954a45f588a5283249558149b8.addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
            var circle_marker_f39fc9bb03e0b6468f718b381583cc7c = L.circleMarker(
                [-37.8657925, 145.0928475],
                {"bubblingMouseEvents": true, "color": "darkblue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_64d4b5acf8b8d7d2c87b4c025bb02c65 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3d668678e40d39ce21ef5d72532ac853 = $(`<div id="html_3d668678e40d39ce21ef5d72532ac853" style="width: 100.0%; height: 100.0%;">SCATS 970.0</div>`)[0];
                popup_64d4b5acf8b8d7d2c87b4c025bb02c65.setContent(html_3d668678e40d39ce21ef5d72532ac853);
            
        

        circle_marker_f39fc9bb03e0b6468f718b381583cc7c.bindPopup(popup_64d4b5acf8b8d7d2c87b4c025bb02c65)
        ;

        
    
    
            var circle_marker_71beef48f5d667f02a81111cfb88d92f = L.circleMarker(
                [-37.850413175, 145.095663925],
                {"bubblingMouseEvents": true, "color": "darkblue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_46e406bb64a9367cf3a2ed1166188832 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_fb30b19e06d742366699b1f1ccb2dc95 = $(`<div id="html_fb30b19e06d742366699b1f1ccb2dc95" style="width: 100.0%; height: 100.0%;">SCATS 2000.0</div>`)[0];
                popup_46e406bb64a9367cf3a2ed1166188832.setContent(html_fb30b19e06d742366699b1f1ccb2dc95);
            
        

        circle_marker_71beef48f5d667f02a81111cfb88d92f.bindPopup(popup_46e406bb64a9367cf3a2ed1166188832)
        ;

        
    
    
            var circle_marker_6c1ce9be07ef11a201a02613217c33ac = L.circleMarker(
                [-37.815029974999995, 145.0993872],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_a3473f00d5d64a6e4359de4d3c2c2d24 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0c52d97d3c9bc8cb60767dea4ca00cc6 = $(`<div id="html_0c52d97d3c9bc8cb60767dea4ca00cc6" style="width: 100.0%; height: 100.0%;">SCATS 2200.0</div>`)[0];
                popup_a3473f00d5d64a6e4359de4d3c2c2d24.setContent(html_0c52d97d3c9bc8cb60767dea4ca00cc6);
            
        

        circle_marker_6c1ce9be07ef11a201a02613217c33ac.bindPopup(popup_a3473f00d5d64a6e4359de4d3c2c2d24)
        ;

        
    
    
            var circle_marker_395d66991f3719c0d3e96cfdfa395aa9 = L.circleMarker(
                [-37.793275, 145.0318],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_be42fa4913b23babfea82ffdd8b24a49 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a234351e42d01209ced4c30eaaf6e0d6 = $(`<div id="html_a234351e42d01209ced4c30eaaf6e0d6" style="width: 100.0%; height: 100.0%;">SCATS 2820.0</div>`)[0];
                popup_be42fa4913b23babfea82ffdd8b24a49.setContent(html_a234351e42d01209ced4c30eaaf6e0d6);
            
        

        circle_marker_395d66991f3719c0d3e96cfdfa395aa9.bindPopup(popup_be42fa4913b23babfea82ffdd8b24a49)
        ;

        
    
    
            var circle_marker_96a84143d4d7bd8bef4733ff6f531e2a = L.circleMarker(
                [-37.7851, 145.06336],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_113193f84eb0cbf3d3188db596eb7061 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_bd7e4fa1b6f18d209d35b29a8de41af1 = $(`<div id="html_bd7e4fa1b6f18d209d35b29a8de41af1" style="width: 100.0%; height: 100.0%;">SCATS 2825.0</div>`)[0];
                popup_113193f84eb0cbf3d3188db596eb7061.setContent(html_bd7e4fa1b6f18d209d35b29a8de41af1);
            
        

        circle_marker_96a84143d4d7bd8bef4733ff6f531e2a.bindPopup(popup_113193f84eb0cbf3d3188db596eb7061)
        ;

        
    
    
            var circle_marker_11ca73f7527451d337a9ccba0e3f149e = L.circleMarker(
                [-37.78022932499999, 145.0786714],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_1eda6edad07882a157ab3ee1d00b98ca = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a1355b6950fc851488f02aa6507c3178 = $(`<div id="html_a1355b6950fc851488f02aa6507c3178" style="width: 100.0%; height: 100.0%;">SCATS 2827.0</div>`)[0];
                popup_1eda6edad07882a157ab3ee1d00b98ca.setContent(html_a1355b6950fc851488f02aa6507c3178);
            
        

        circle_marker_11ca73f7527451d337a9ccba0e3f149e.bindPopup(popup_1eda6edad07882a157ab3ee1d00b98ca)
        ;

        
    
    
            var circle_marker_a182751f29591ca315cb55208208c1f5 = L.circleMarker(
                [-37.859794275, 145.05921450000005],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_9200792683a18a6ada9abc8ded76279d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_caf3e30d56c44379c146735f42737352 = $(`<div id="html_caf3e30d56c44379c146735f42737352" style="width: 100.0%; height: 100.0%;">SCATS 2846.0</div>`)[0];
                popup_9200792683a18a6ada9abc8ded76279d.setContent(html_caf3e30d56c44379c146735f42737352);
            
        

        circle_marker_a182751f29591ca315cb55208208c1f5.bindPopup(popup_9200792683a18a6ada9abc8ded76279d)
        ;

        
    
    
            var circle_marker_d461ea0ed32cb3237ebb0522352a238b = L.circleMarker(
                [-37.813145, 145.0234775],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_987d7a24127d5d161e82b088a3cdd714 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_671394c89bf794d20f4fda689f60c4b2 = $(`<div id="html_671394c89bf794d20f4fda689f60c4b2" style="width: 100.0%; height: 100.0%;">SCATS 3001.0</div>`)[0];
                popup_987d7a24127d5d161e82b088a3cdd714.setContent(html_671394c89bf794d20f4fda689f60c4b2);
            
        

        circle_marker_d461ea0ed32cb3237ebb0522352a238b.bindPopup(popup_987d7a24127d5d161e82b088a3cdd714)
        ;

        
    
    
            var circle_marker_afa851ba6a51c67970dfcf50b64e30aa = L.circleMarker(
                [-37.813652499999996, 145.02791249999999],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_0d4b3a1795c0ced15c5e9f81f24761bc = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_577925a39695f99d60c0bc581948fd4d = $(`<div id="html_577925a39695f99d60c0bc581948fd4d" style="width: 100.0%; height: 100.0%;">SCATS 3002.0</div>`)[0];
                popup_0d4b3a1795c0ced15c5e9f81f24761bc.setContent(html_577925a39695f99d60c0bc581948fd4d);
            
        

        circle_marker_afa851ba6a51c67970dfcf50b64e30aa.bindPopup(popup_0d4b3a1795c0ced15c5e9f81f24761bc)
        ;

        
    
    
            var circle_marker_4066312e3edbef6b0c8d574a57a5d6ff = L.circleMarker(
                [-37.821385, 145.0586275],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_fcec60187801b4c6b0be026a40775ad8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_75cfdd6af08db0e76b707ffed9d3063a = $(`<div id="html_75cfdd6af08db0e76b707ffed9d3063a" style="width: 100.0%; height: 100.0%;">SCATS 3120.0</div>`)[0];
                popup_fcec60187801b4c6b0be026a40775ad8.setContent(html_75cfdd6af08db0e76b707ffed9d3063a);
            
        

        circle_marker_4066312e3edbef6b0c8d574a57a5d6ff.bindPopup(popup_fcec60187801b4c6b0be026a40775ad8)
        ;

        
    
    
            var circle_marker_cf5893055c4b96ba3e2e2ddb257120f1 = L.circleMarker(
                [-37.82234666666666, 145.06573333333333],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_709d39e5d55e62de54c1ff585fb2ab3d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_68a5656575c4241b708ad7c18b354d26 = $(`<div id="html_68a5656575c4241b708ad7c18b354d26" style="width: 100.0%; height: 100.0%;">SCATS 3122.0</div>`)[0];
                popup_709d39e5d55e62de54c1ff585fb2ab3d.setContent(html_68a5656575c4241b708ad7c18b354d26);
            
        

        circle_marker_cf5893055c4b96ba3e2e2ddb257120f1.bindPopup(popup_709d39e5d55e62de54c1ff585fb2ab3d)
        ;

        
    
    
            var circle_marker_95080f2d77fcf3d4c48836ba98e1d39a = L.circleMarker(
                [-37.82633666666666, 145.09991666666667],
                {"bubblingMouseEvents": true, "color": "darkblue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_0471d73808655f28d34762defa2b89e0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_98dc5ecffe4c991d6a6ab0103e3400f0 = $(`<div id="html_98dc5ecffe4c991d6a6ab0103e3400f0" style="width: 100.0%; height: 100.0%;">SCATS 3126.0</div>`)[0];
                popup_0471d73808655f28d34762defa2b89e0.setContent(html_98dc5ecffe4c991d6a6ab0103e3400f0);
            
        

        circle_marker_95080f2d77fcf3d4c48836ba98e1d39a.bindPopup(popup_0471d73808655f28d34762defa2b89e0)
        ;

        
    
    
            var circle_marker_df57ce8be34f158de6094819135f741e = L.circleMarker(
                [-37.82371666666667, 145.07928666666666],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_2831f5d041a06444f148c36f9c0d29bf = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_91bb11aacb91cb4f4e95dbb09b188a4c = $(`<div id="html_91bb11aacb91cb4f4e95dbb09b188a4c" style="width: 100.0%; height: 100.0%;">SCATS 3127.0</div>`)[0];
                popup_2831f5d041a06444f148c36f9c0d29bf.setContent(html_91bb11aacb91cb4f4e95dbb09b188a4c);
            
        

        circle_marker_df57ce8be34f158de6094819135f741e.bindPopup(popup_2831f5d041a06444f148c36f9c0d29bf)
        ;

        
    
    
            var circle_marker_652e335631b8f3ed0deba62206bb1915 = L.circleMarker(
                [-37.79470333333333, 145.08484666666666],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_a4f0c901f37545c385bb376ec3566c94 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_66dd71950e054f29911087dfc16cb992 = $(`<div id="html_66dd71950e054f29911087dfc16cb992" style="width: 100.0%; height: 100.0%;">SCATS 3180.0</div>`)[0];
                popup_a4f0c901f37545c385bb376ec3566c94.setContent(html_66dd71950e054f29911087dfc16cb992);
            
        

        circle_marker_652e335631b8f3ed0deba62206bb1915.bindPopup(popup_a4f0c901f37545c385bb376ec3566c94)
        ;

        
    
    
            var circle_marker_30c7344e521a896ef57f77b20dca3d22 = L.circleMarker(
                [-37.80744249999999, 145.0287975],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_007ccf3ec1fa6ffac45671d71c52e6ee = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5d10735ac84206f68ca203a387695541 = $(`<div id="html_5d10735ac84206f68ca203a387695541" style="width: 100.0%; height: 100.0%;">SCATS 3662.0</div>`)[0];
                popup_007ccf3ec1fa6ffac45671d71c52e6ee.setContent(html_5d10735ac84206f68ca203a387695541);
            
        

        circle_marker_30c7344e521a896ef57f77b20dca3d22.bindPopup(popup_007ccf3ec1fa6ffac45671d71c52e6ee)
        ;

        
    
    
            var circle_marker_20b4460c766811d3a6e0dd538f1d54c2 = L.circleMarker(
                [-37.835964999999995, 145.0982075],
                {"bubblingMouseEvents": true, "color": "darkblue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_65ce3e09f25ca622291a8ecee2b8c771 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6472a0f833143bf019af1b11255eef7d = $(`<div id="html_6472a0f833143bf019af1b11255eef7d" style="width: 100.0%; height: 100.0%;">SCATS 3682.0</div>`)[0];
                popup_65ce3e09f25ca622291a8ecee2b8c771.setContent(html_6472a0f833143bf019af1b11255eef7d);
            
        

        circle_marker_20b4460c766811d3a6e0dd538f1d54c2.bindPopup(popup_65ce3e09f25ca622291a8ecee2b8c771)
        ;

        
    
    
            var circle_marker_e42a19842182e75b26d732d67413a26d = L.circleMarker(
                [-37.853386666666665, 145.09525000000002],
                {"bubblingMouseEvents": true, "color": "darkblue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_8b8908cfe45f600b495bac6530e7c754 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_09cd8c21dd9fff841f769fd32bcf7c50 = $(`<div id="html_09cd8c21dd9fff841f769fd32bcf7c50" style="width: 100.0%; height: 100.0%;">SCATS 3685.0</div>`)[0];
                popup_8b8908cfe45f600b495bac6530e7c754.setContent(html_09cd8c21dd9fff841f769fd32bcf7c50);
            
        

        circle_marker_e42a19842182e75b26d732d67413a26d.bindPopup(popup_8b8908cfe45f600b495bac6530e7c754)
        ;

        
    
    
            var circle_marker_553bf681097831c4897b551288591f98 = L.circleMarker(
                [-37.8321325, 145.0637325],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_c88641c651ac750957737bd6c43f0de0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3f812dfc7a835ed5c3aa217ef8b97229 = $(`<div id="html_3f812dfc7a835ed5c3aa217ef8b97229" style="width: 100.0%; height: 100.0%;">SCATS 3804.0</div>`)[0];
                popup_c88641c651ac750957737bd6c43f0de0.setContent(html_3f812dfc7a835ed5c3aa217ef8b97229);
            
        

        circle_marker_553bf681097831c4897b551288591f98.bindPopup(popup_c88641c651ac750957737bd6c43f0de0)
        ;

        
    
    
            var circle_marker_1251c16565e7ac737e2c29bf96863ec4 = L.circleMarker(
                [-37.83598, 145.062205],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_bc141bb57222ba5565184313d4efce98 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_baf8474e4f99936fd5367cf6c18901d7 = $(`<div id="html_baf8474e4f99936fd5367cf6c18901d7" style="width: 100.0%; height: 100.0%;">SCATS 3812.0</div>`)[0];
                popup_bc141bb57222ba5565184313d4efce98.setContent(html_baf8474e4f99936fd5367cf6c18901d7);
            
        

        circle_marker_1251c16565e7ac737e2c29bf96863ec4.bindPopup(popup_bc141bb57222ba5565184313d4efce98)
        ;

        
    
    
            var circle_marker_ed4e1107b91afa444e527d2118f2b8f2 = L.circleMarker(
                [-37.79382, 145.06294666666668],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_cecc9dde3fcd5b289cb5d0187bab8fef = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_204910be3f010caa899adb7ed6b69f97 = $(`<div id="html_204910be3f010caa899adb7ed6b69f97" style="width: 100.0%; height: 100.0%;">SCATS 4030.0</div>`)[0];
                popup_cecc9dde3fcd5b289cb5d0187bab8fef.setContent(html_204910be3f010caa899adb7ed6b69f97);
            
        

        circle_marker_ed4e1107b91afa444e527d2118f2b8f2.bindPopup(popup_cecc9dde3fcd5b289cb5d0187bab8fef)
        ;

        
    
    
            var circle_marker_b49dcc1fb34bda858ca61747ad3258ab = L.circleMarker(
                [-37.8007875, 145.06257],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_711d40bbf4ffd8474e1c72cb73051e87 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a5ebc60c0d792e0c40dca333fa929f5c = $(`<div id="html_a5ebc60c0d792e0c40dca333fa929f5c" style="width: 100.0%; height: 100.0%;">SCATS 4032.0</div>`)[0];
                popup_711d40bbf4ffd8474e1c72cb73051e87.setContent(html_a5ebc60c0d792e0c40dca333fa929f5c);
            
        

        circle_marker_b49dcc1fb34bda858ca61747ad3258ab.bindPopup(popup_711d40bbf4ffd8474e1c72cb73051e87)
        ;

        
    
    
            var circle_marker_6ce5de57b31ed77c399b5bdb4d09184a = L.circleMarker(
                [-37.81034, 145.060745],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_c023405ee96fd015c173a08c20ee797c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_68ca6fb058933e1317c78034ea8773f0 = $(`<div id="html_68ca6fb058933e1317c78034ea8773f0" style="width: 100.0%; height: 100.0%;">SCATS 4034.0</div>`)[0];
                popup_c023405ee96fd015c173a08c20ee797c.setContent(html_68ca6fb058933e1317c78034ea8773f0);
            
        

        circle_marker_6ce5de57b31ed77c399b5bdb4d09184a.bindPopup(popup_c023405ee96fd015c173a08c20ee797c)
        ;

        
    
    
            var circle_marker_696adead2210fe82938e13b5598d9068 = L.circleMarker(
                [-37.81664634999999, 145.059462575],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_49fa501d37dd26d74e6c6b043755e1db = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_275845e64398e5230e699d0bd0c7adcb = $(`<div id="html_275845e64398e5230e699d0bd0c7adcb" style="width: 100.0%; height: 100.0%;">SCATS 4035.0</div>`)[0];
                popup_49fa501d37dd26d74e6c6b043755e1db.setContent(html_275845e64398e5230e699d0bd0c7adcb);
            
        

        circle_marker_696adead2210fe82938e13b5598d9068.bindPopup(popup_49fa501d37dd26d74e6c6b043755e1db)
        ;

        
    
    
            var circle_marker_53838afaa485e1c266cc80b04b6959e9 = L.circleMarker(
                [-37.831361666666666, 145.05676333333332],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_fa970d1357b9f9b8122a0eba0304b3b8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c479f440bf435532a7cb68061e64ff0c = $(`<div id="html_c479f440bf435532a7cb68061e64ff0c" style="width: 100.0%; height: 100.0%;">SCATS 4040.0</div>`)[0];
                popup_fa970d1357b9f9b8122a0eba0304b3b8.setContent(html_c479f440bf435532a7cb68061e64ff0c);
            
        

        circle_marker_53838afaa485e1c266cc80b04b6959e9.bindPopup(popup_fa970d1357b9f9b8122a0eba0304b3b8)
        ;

        
    
    
            var circle_marker_c74b3e28615c25b0040499460894df62 = L.circleMarker(
                [-37.84565, 145.0539675],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_ab937fb590871b31f54fcf4f680a7dc5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9ad53b153e3fd8f70ced3b2421de0941 = $(`<div id="html_9ad53b153e3fd8f70ced3b2421de0941" style="width: 100.0%; height: 100.0%;">SCATS 4043.0</div>`)[0];
                popup_ab937fb590871b31f54fcf4f680a7dc5.setContent(html_9ad53b153e3fd8f70ced3b2421de0941);
            
        

        circle_marker_c74b3e28615c25b0040499460894df62.bindPopup(popup_ab937fb590871b31f54fcf4f680a7dc5)
        ;

        
    
    
            var circle_marker_a78563ae599f0096a0bc4253f6172265 = L.circleMarker(
                [-37.79263333333333, 145.07067333333333],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_4169f253570afe978b7d43029dfde0b0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_fb25b4b3aff095dddb13c0796e2ed554 = $(`<div id="html_fb25b4b3aff095dddb13c0796e2ed554" style="width: 100.0%; height: 100.0%;">SCATS 4051.0</div>`)[0];
                popup_4169f253570afe978b7d43029dfde0b0.setContent(html_fb25b4b3aff095dddb13c0796e2ed554);
            
        

        circle_marker_a78563ae599f0096a0bc4253f6172265.bindPopup(popup_4169f253570afe978b7d43029dfde0b0)
        ;

        
    
    
            var circle_marker_afb5530cc0e54662879c5e8008f06260 = L.circleMarker(
                [-37.803464999999996, 145.083105],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_19c8d824824d29a70f1c424f43b2f88b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2d1983a208f0476d112694511ce251c6 = $(`<div id="html_2d1983a208f0476d112694511ce251c6" style="width: 100.0%; height: 100.0%;">SCATS 4057.0</div>`)[0];
                popup_19c8d824824d29a70f1c424f43b2f88b.setContent(html_2d1983a208f0476d112694511ce251c6);
            
        

        circle_marker_afb5530cc0e54662879c5e8008f06260.bindPopup(popup_19c8d824824d29a70f1c424f43b2f88b)
        ;

        
    
    
            var circle_marker_dd6286c894f02dd867559328a57ea6d7 = L.circleMarker(
                [-37.812862499999994, 145.081345],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_922384121e8d9fb1bbe9ff86752a6340 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_22bdf6286f5541fe08dbd45620422307 = $(`<div id="html_22bdf6286f5541fe08dbd45620422307" style="width: 100.0%; height: 100.0%;">SCATS 4063.0</div>`)[0];
                popup_922384121e8d9fb1bbe9ff86752a6340.setContent(html_22bdf6286f5541fe08dbd45620422307);
            
        

        circle_marker_dd6286c894f02dd867559328a57ea6d7.bindPopup(popup_922384121e8d9fb1bbe9ff86752a6340)
        ;

        
    
    
            var circle_marker_f4811178ea2c9bbd22a7a916185a78d5 = L.circleMarker(
                [-37.82004, 145.01637],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_bbff5763494b92cf1882ddca99260579 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e105945d716f041d4f45743f6f214265 = $(`<div id="html_e105945d716f041d4f45743f6f214265" style="width: 100.0%; height: 100.0%;">SCATS 4262.0</div>`)[0];
                popup_bbff5763494b92cf1882ddca99260579.setContent(html_e105945d716f041d4f45743f6f214265);
            
        

        circle_marker_f4811178ea2c9bbd22a7a916185a78d5.bindPopup(popup_bbff5763494b92cf1882ddca99260579)
        ;

        
    
    
            var circle_marker_2891b85d1b30a568a047b61028dcf52c = L.circleMarker(
                [-37.821546174999995, 145.026298],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_85e0bb04a51339f6c0b2af92399c79ff = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0afebaaef00a00d6a6211bc719359af1 = $(`<div id="html_0afebaaef00a00d6a6211bc719359af1" style="width: 100.0%; height: 100.0%;">SCATS 4263.0</div>`)[0];
                popup_85e0bb04a51339f6c0b2af92399c79ff.setContent(html_0afebaaef00a00d6a6211bc719359af1);
            
        

        circle_marker_2891b85d1b30a568a047b61028dcf52c.bindPopup(popup_85e0bb04a51339f6c0b2af92399c79ff)
        ;

        
    
    
            var circle_marker_3b04323b6bc9aaca10f1cc10cc77ca7f = L.circleMarker(
                [-37.8226175, 145.03534499999998],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_e9fc487e6d0fb0bf1915aa398d607479 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a2f3e27c33f51526d697077b8b3df08f = $(`<div id="html_a2f3e27c33f51526d697077b8b3df08f" style="width: 100.0%; height: 100.0%;">SCATS 4264.0</div>`)[0];
                popup_e9fc487e6d0fb0bf1915aa398d607479.setContent(html_a2f3e27c33f51526d697077b8b3df08f);
            
        

        circle_marker_3b04323b6bc9aaca10f1cc10cc77ca7f.bindPopup(popup_e9fc487e6d0fb0bf1915aa398d607479)
        ;

        
    
    
            var circle_marker_5ecf552bf4cf738c958e59f36ef43cb9 = L.circleMarker(
                [-37.82227466446019, 145.04610883306256],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_f0ae55fb43316b259db06f010b6e07f3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_cd1499992d70d0d29c3419c9677ddfff = $(`<div id="html_cd1499992d70d0d29c3419c9677ddfff" style="width: 100.0%; height: 100.0%;">SCATS 4266.0</div>`)[0];
                popup_f0ae55fb43316b259db06f010b6e07f3.setContent(html_cd1499992d70d0d29c3419c9677ddfff);
            
        

        circle_marker_5ecf552bf4cf738c958e59f36ef43cb9.bindPopup(popup_f0ae55fb43316b259db06f010b6e07f3)
        ;

        
    
    
            var circle_marker_a21bdc3d4d65a912f851906e35e4db8e = L.circleMarker(
                [-37.828717499999996, 145.034155],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_52f810ed79e81a3f43831f3562acdbbf = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_416e4d705b0ce31099bff893471ae9c7 = $(`<div id="html_416e4d705b0ce31099bff893471ae9c7" style="width: 100.0%; height: 100.0%;">SCATS 4270.0</div>`)[0];
                popup_52f810ed79e81a3f43831f3562acdbbf.setContent(html_416e4d705b0ce31099bff893471ae9c7);
            
        

        circle_marker_a21bdc3d4d65a912f851906e35e4db8e.bindPopup(popup_52f810ed79e81a3f43831f3562acdbbf)
        ;

        
    
    
            var circle_marker_b8a477e071f30c8ce7ab8170bfd83a0b = L.circleMarker(
                [-37.83037333333333, 145.04773333333333],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_c04ae59eea2c3e702ba1150854d89a08 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ad2620924813b64f408a21248b1652c1 = $(`<div id="html_ad2620924813b64f408a21248b1652c1" style="width: 100.0%; height: 100.0%;">SCATS 4272.0</div>`)[0];
                popup_c04ae59eea2c3e702ba1150854d89a08.setContent(html_ad2620924813b64f408a21248b1652c1);
            
        

        circle_marker_b8a477e071f30c8ce7ab8170bfd83a0b.bindPopup(popup_c04ae59eea2c3e702ba1150854d89a08)
        ;

        
    
    
            var circle_marker_774cfae5ef9f2de3bfcef0a7f922e330 = L.circleMarker(
                [-37.845079999999996, 145.04577],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_e7b77f636908c09c592336caa03126d1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_31ecd540f1c8176e600b9383c2209828 = $(`<div id="html_31ecd540f1c8176e600b9383c2209828" style="width: 100.0%; height: 100.0%;">SCATS 4273.0</div>`)[0];
                popup_e7b77f636908c09c592336caa03126d1.setContent(html_31ecd540f1c8176e600b9383c2209828);
            
        

        circle_marker_774cfae5ef9f2de3bfcef0a7f922e330.bindPopup(popup_e7b77f636908c09c592336caa03126d1)
        ;

        
    
    
            var circle_marker_1e6631739c1233e479c9300147c64743 = L.circleMarker(
                [-37.799327925, 145.050459025],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_2725f1b2a8013e57d4ed0110c2e0db22 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_11b85bdd1f4553514b87f4b216e9a3a2 = $(`<div id="html_11b85bdd1f4553514b87f4b216e9a3a2" style="width: 100.0%; height: 100.0%;">SCATS 4321.0</div>`)[0];
                popup_2725f1b2a8013e57d4ed0110c2e0db22.setContent(html_11b85bdd1f4553514b87f4b216e9a3a2);
            
        

        circle_marker_1e6631739c1233e479c9300147c64743.bindPopup(popup_2725f1b2a8013e57d4ed0110c2e0db22)
        ;

        
    
    
            var circle_marker_6554d07a6cb59032f3ddad4ce0e47095 = L.circleMarker(
                [-37.807822333333334, 145.03818766666666],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_ddd51e2631f38e48c19d06733ac4bcd9 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f96ef722cc953cbadb2c480c3ebb9298 = $(`<div id="html_f96ef722cc953cbadb2c480c3ebb9298" style="width: 100.0%; height: 100.0%;">SCATS 4324.0</div>`)[0];
                popup_ddd51e2631f38e48c19d06733ac4bcd9.setContent(html_f96ef722cc953cbadb2c480c3ebb9298);
            
        

        circle_marker_6554d07a6cb59032f3ddad4ce0e47095.bindPopup(popup_ddd51e2631f38e48c19d06733ac4bcd9)
        ;

        
    
    
            var circle_marker_e3ac75bfd7e769c2cd52f8ee663b6a13 = L.circleMarker(
                [-37.804705, 145.03659000000002],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_728300ca1c37ee89d32b8fc4cf3f5c5c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_15ce6c85225390f016b3435391c30688 = $(`<div id="html_15ce6c85225390f016b3435391c30688" style="width: 100.0%; height: 100.0%;">SCATS 4335.0</div>`)[0];
                popup_728300ca1c37ee89d32b8fc4cf3f5c5c.setContent(html_15ce6c85225390f016b3435391c30688);
            
        

        circle_marker_e3ac75bfd7e769c2cd52f8ee663b6a13.bindPopup(popup_728300ca1c37ee89d32b8fc4cf3f5c5c)
        ;

        
    
    
            var circle_marker_1ec9990470bdd57d92c97d14af4296ec = L.circleMarker(
                [-37.82740333333333, 145.01692666666665],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_6e9f9c49cc3f8c5618b572ce54bd3fc7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4db02d1f45691f403dbdee2c3640f781 = $(`<div id="html_4db02d1f45691f403dbdee2c3640f781" style="width: 100.0%; height: 100.0%;">SCATS 4812.0</div>`)[0];
                popup_6e9f9c49cc3f8c5618b572ce54bd3fc7.setContent(html_4db02d1f45691f403dbdee2c3640f781);
            
        

        circle_marker_1ec9990470bdd57d92c97d14af4296ec.bindPopup(popup_6e9f9c49cc3f8c5618b572ce54bd3fc7)
        ;

        
    
    
            var circle_marker_0aa0693b4578ee75c756873b0fd24978 = L.circleMarker(
                [-37.811454999999995, 145.00981],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_490cb5427d87e212b4166e7d25f20bfb = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_fb08ba776e7047044740e8d7a7757022 = $(`<div id="html_fb08ba776e7047044740e8d7a7757022" style="width: 100.0%; height: 100.0%;">SCATS 4821.0</div>`)[0];
                popup_490cb5427d87e212b4166e7d25f20bfb.setContent(html_fb08ba776e7047044740e8d7a7757022);
            
        

        circle_marker_0aa0693b4578ee75c756873b0fd24978.bindPopup(popup_490cb5427d87e212b4166e7d25f20bfb)
        ;

        
    
    
            var poly_line_e2dbb432646a09009bacc1baae2acb5c = L.polyline(
                [[-37.8657925, 145.0928475], [-37.82633666666666, 145.09991666666667]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 7}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_79431b84b967a625db55024ac0cde411 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6e8c7fa671a9ac8e73749560a559dcca = $(`<div id="html_6e8c7fa671a9ac8e73749560a559dcca" style="width: 100.0%; height: 100.0%;">Route 1 - 4 min 55 sec (295.86 sec)</div>`)[0];
                popup_79431b84b967a625db55024ac0cde411.setContent(html_6e8c7fa671a9ac8e73749560a559dcca);
            
        

        poly_line_e2dbb432646a09009bacc1baae2acb5c.bindPopup(popup_79431b84b967a625db55024ac0cde411)
        ;

        
    
    
            var marker_acdd219fde5d22eeec0cf74f290f6474 = L.marker(
                [-37.82633666666666, 145.09991666666667],
                {
}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
            var div_icon_a4248e1d39b58b2e0e64754bffd89461 = L.divIcon({
  "html": "\n                    \u003cdiv style=\"font-size: 10px; font-weight: bold; color: darkred;\n                              background-color: white; border: 1px solid darkred; \n                              padding: 2px; border-radius: 6px;\"\u003e\n                         Fastest of Route\u003cbr\u003e4 min 55 sec\n                    \u003c/div\u003e\n                ",
  "iconSize": [56, 36],
  "iconAnchor": [0, 0],
  "className": "empty",
});
        
    
                marker_acdd219fde5d22eeec0cf74f290f6474.setIcon(div_icon_a4248e1d39b58b2e0e64754bffd89461);
            
    
            var poly_line_c0e0003df0bc0765a8dc4110b7e6f0c5 = L.polyline(
                [[-37.8657675, 145.0928725], [-37.853361666666665, 145.09527500000002], [-37.835939999999994, 145.0982325], [-37.850388175, 145.095688925], [-37.82631166666666, 145.09994166666667]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_63e502c75b6e7deadb06b1d343d14257 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_77aa32811869bf2c8d030c1f544ec645 = $(`<div id="html_77aa32811869bf2c8d030c1f544ec645" style="width: 100.0%; height: 100.0%;">Route 2 - 9 min 40 sec (580.51 sec)</div>`)[0];
                popup_63e502c75b6e7deadb06b1d343d14257.setContent(html_77aa32811869bf2c8d030c1f544ec645);
            
        

        poly_line_c0e0003df0bc0765a8dc4110b7e6f0c5.bindPopup(popup_63e502c75b6e7deadb06b1d343d14257)
        ;

        
    
    
            var poly_line_011fa99545c5bcc607b4be20e545f786 = L.polyline(
                [[-37.865742499999996, 145.0928975], [-37.853336666666664, 145.0953], [-37.865742499999996, 145.0928975], [-37.82628666666666, 145.09996666666666]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_a2fdae24241bd29b4e9070725fce1b91 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e8939447f91f6a45a7f9fab7767d9297 = $(`<div id="html_e8939447f91f6a45a7f9fab7767d9297" style="width: 100.0%; height: 100.0%;">Route 3 - 8 min 43 sec (523.32 sec)</div>`)[0];
                popup_a2fdae24241bd29b4e9070725fce1b91.setContent(html_e8939447f91f6a45a7f9fab7767d9297);
            
        

        poly_line_011fa99545c5bcc607b4be20e545f786.bindPopup(popup_a2fdae24241bd29b4e9070725fce1b91)
        ;

        
    
    
            var poly_line_4921dc757f268e245395813ffdc181d2 = L.polyline(
                [[-37.865717499999995, 145.09292250000001], [-37.85331166666666, 145.09532500000003], [-37.865717499999995, 145.09292250000001], [-37.85331166666666, 145.09532500000003], [-37.83588999999999, 145.0982825], [-37.850338175, 145.095738925], [-37.82626166666666, 145.09999166666668]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_d51f1ee61d5b4b3879820a43e2396da8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ad49396fc7eac1d4bbc3509ba26dc3da = $(`<div id="html_ad49396fc7eac1d4bbc3509ba26dc3da" style="width: 100.0%; height: 100.0%;">Route 4 - 13 min 27 sec (807.97 sec)</div>`)[0];
                popup_d51f1ee61d5b4b3879820a43e2396da8.setContent(html_ad49396fc7eac1d4bbc3509ba26dc3da);
            
        

        poly_line_4921dc757f268e245395813ffdc181d2.bindPopup(popup_d51f1ee61d5b4b3879820a43e2396da8)
        ;

        
    
    
            var poly_line_71ce52020576837cce9cada1a654284f = L.polyline(
                [[-37.865692499999994, 145.0929475], [-37.85328666666666, 145.09535000000002], [-37.865692499999994, 145.0929475], [-37.85328666666666, 145.09535000000002], [-37.865692499999994, 145.0929475], [-37.82623666666666, 145.10001666666668]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
        var popup_4234467ec32ef7500d49e62417744c09 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5ed16f87b875431642bc67adc1eccaae = $(`<div id="html_5ed16f87b875431642bc67adc1eccaae" style="width: 100.0%; height: 100.0%;">Route 5 - 12 min 30 sec (750.78 sec)</div>`)[0];
                popup_4234467ec32ef7500d49e62417744c09.setContent(html_5ed16f87b875431642bc67adc1eccaae);
            
        

        poly_line_71ce52020576837cce9cada1a654284f.bindPopup(popup_4234467ec32ef7500d49e62417744c09)
        ;

        
    
    
            var marker_c3582d278b9edeae46b2496cd67e9840 = L.marker(
                [-37.8657925, 145.0928475],
                {
}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
            var icon_72ddd5783fc08400c1dfa102bfccf571 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "play",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_29b539c5b2738b29fd565110c28e6414 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_dc3de773e3f96db752292b8dd6c0b037 = $(`<div id="html_dc3de773e3f96db752292b8dd6c0b037" style="width: 100.0%; height: 100.0%;">Origin</div>`)[0];
                popup_29b539c5b2738b29fd565110c28e6414.setContent(html_dc3de773e3f96db752292b8dd6c0b037);
            
        

        marker_c3582d278b9edeae46b2496cd67e9840.bindPopup(popup_29b539c5b2738b29fd565110c28e6414)
        ;

        
    
    
                marker_c3582d278b9edeae46b2496cd67e9840.setIcon(icon_72ddd5783fc08400c1dfa102bfccf571);
            
    
            var marker_28df3d902a1dc6d121d6cc64b954d082 = L.marker(
                [-37.82633666666666, 145.09991666666667],
                {
}
            ).addTo(map_b355efbd9e9a9007038dd7670486933c);
        
    
            var icon_1933eafda30427cc1cf99b53efe7ba2c = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "stop",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_ee3f1c116e7a53bcc7a4f6099317fc72 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1c4492acda7f934c0d898b189c97c1c1 = $(`<div id="html_1c4492acda7f934c0d898b189c97c1c1" style="width: 100.0%; height: 100.0%;">Destination</div>`)[0];
                popup_ee3f1c116e7a53bcc7a4f6099317fc72.setContent(html_1c4492acda7f934c0d898b189c97c1c1);
            
        

        marker_28df3d902a1dc6d121d6cc64b954d082.bindPopup(popup_ee3f1c116e7a53bcc7a4f6099317fc72)
        ;

        
    
    
                marker_28df3d902a1dc6d121d6cc64b954d082.setIcon(icon_1933eafda30427cc1cf99b53efe7ba2c);
            
</script>
</html>